<div id="subjectError">
	<table class="subjectErrorTable">
		<tbody>
			<tr>
				<th>教科</th>
				<td><a href="/S{{ .PathS }}">{{ .Name }}</a></td>
			</tr>
			<tr>
				<th>レッスン</th>
				<td><a href="/S{{ .PathS }}L{{ .PathL }}" class="{{ if eq .PathL "" }}disabled{{ end }}">{{ .Lesson }}</a></td>
			</tr>
			<tr>
				<th>ページ</th>
				<td><a href="/S{{ .PathS }}L{{ .PathL }}P{{ .PathP }}" class="disabled">{{ .Page }}</a></td>
			</tr>
		</tbody>
	</table>
	{{ if gt (len .ErrorMessage) 0 }}
		{{ range $i, $message := .ErrorMessage }}
			<p>{{ $message }}</p>
		{{ end }}
		<div class="separator"></div>
		{{ $ErrorType := .ErrorType }}
		<div class="{{ if eq $ErrorType 1 }}subjectImgBox{{ else if eq $ErrorType 2 }}lessonTextBox{{ end }}">
		{{ range $url, $textOrImg := .AltSuggestion }}
			{{ if eq $ErrorType 1 }}
				<a href="{{$url}}"><img class="subjectImg" src="{{$textOrImg}}" alt="subject pic" /></a>
			{{ else if eq $ErrorType 2 }}
				<a class="lessonText" href="{{$url}}">{{ $textOrImg }}</a>
			{{ end }}
		{{ end }}
		</div>
	{{ end }}
</div>