@charset "utf8";


#gameSelectPlayStyleBox {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	a {
		display: block;
		width: 50%;
		max-width: 50%;
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			border: 1px black solid;
			background-color: lightgoldenrodyellow;
			&:hover {
				opacity: 0.8;
				background-color: white;
			}
		}
	}
}

