@charset "UTF-8";
@media screen and (max-width: 1200px) {
  #bezier::before {
    content: "1200px以上の端末を使用して下さい。";
    position: fixed;
    inset: 0;
    width: 300px;
    height: 100px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px black solid;
    display: block;
    padding: 25px;
    z-index: 999;
  }
}
#bezier #mainWindow {
  display: flex;
  justify-content: center;
}
#bezier #mainWindow #mainLeftWindow #bezierFormulaBox {
  width: 400px;
  font-size: 16px;
  margin: 25px auto;
  height: 50px;
  font-weight: bold;
  font-family: "consolas";
  text-align: center;
}
#bezier #mainWindow #mainLeftWindow #mainSVG {
  display: block;
  position: relative;
  border: 1px black solid;
  margin: 0 auto 30px auto;
  overflow: visible;
  box-sizing: border-box;
  z-index: 1;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfLines line {
  background-color: rgba(0, 0, 0, 0.3);
  stroke-width: 1;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfhandler circle {
  fill: yellow;
  stroke: black;
  stroke-width: 1;
  cursor: pointer;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfhandler polyline {
  stroke: black;
  stroke-width: 3;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfExplanator polyline {
  fill: none;
  stroke-width: 1;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfExplanator polyline:nth-of-type(1) {
  stroke: orange;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfExplanator polyline:nth-of-type(2) {
  stroke: lime;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfExplanator polyline:nth-of-type(3) {
  stroke: purple;
  stroke-width: 2;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfBezier {
  fill: none;
  stroke: aqua;
  stroke-width: 3;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfProgressor #progressorRed {
  fill: red;
  stroke: none;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfProgressor #progressorBlue {
  fill: blue;
  stroke: none;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfProgressor #progressorRedCounter {
  fill: red;
  stroke: none;
  font-size: 12px;
  font-weight: bold;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfProgressor #progressorRedText {
  fill: red;
  stroke: none;
  font-size: 12px;
  font-weight: bold;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfProgressor #progressorRedLine {
  fill: none;
  stroke: red;
  stroke-width: 1;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #groupOfProgressor #progressorBlueLine {
  fill: none;
  stroke: blue;
  stroke-width: 1;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #runningCircle {
  fill: transparent;
  stroke: black;
  stroke-width: 0;
}
#bezier #mainWindow #mainLeftWindow #mainSVG #runningCircle.ok {
  stroke-width: 1 !important;
  -webkit-animation: animationRunning 1.5s linear 0s infinite normal none running;
          animation: animationRunning 1.5s linear 0s infinite normal none running;
}
@-webkit-keyframes animationRunning {
  from, 25% {
    fill: red;
  }
  25%, 50% {
    fill: blue;
  }
  50%, 75% {
    fill: lime;
  }
  75%, to {
    fill: aqua;
  }
}
@keyframes animationRunning {
  from, 25% {
    fill: red;
  }
  25%, 50% {
    fill: blue;
  }
  50%, 75% {
    fill: lime;
  }
  75%, to {
    fill: aqua;
  }
}
#bezier #mainWindow #mainLeftWindow #mainLeftButton {
  background-color: #FFA500;
}
#bezier #mainWindow #mainRightWindow svg {
  box-sizing: border-box;
}
#bezier #mainWindow #mainRightWindow #mainRightTopFrame {
  height: 100px;
  margin: 0 25px;
  display: flex;
  align-items: center;
}
#bezier #mainWindow #mainRightWindow #mainRightTopFrame #currentDemoProgressor {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  margin: 10px 25px;
  position: relative;
}
#bezier #mainWindow #mainRightWindow #mainRightTopFrame #currentdemoSVG {
  display: block;
  position: relative;
  border: 1px black solid;
  margin-left: 75px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: yellow;
}
#bezier #mainWindow #mainRightWindow #mainRightTopFrame #currentdemoSVG:hover {
  top: 2px;
  left: 2px;
  box-shadow: none;
}
#bezier #mainWindow #mainRightWindow #mainRightTopFrame #currentdemoSVG circle {
  fill: red;
  stroke: black;
  stroke-width: 3;
}
#bezier #mainWindow #mainRightWindow #mainRightTopFrame #currentdemoSVG path {
  fill: transparent;
  stroke: blue;
  stroke-width: 40;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  margin: 0 25px 30px 25px;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine {
  display: flex;
  align-items: center;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.arrowBox {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 25px;
  cursor: pointer;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.arrowBox:hover {
  top: 2px;
  left: 2px;
  box-shadow: none;
  fill: white;
  background-color: red;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.arrowBox path {
  stroke-linejoin: round;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.icon {
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  border: 1px black solid;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #FF00FF;
  cursor: pointer;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.icon:hover {
  top: 2px;
  left: 2px;
  box-shadow: none;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.icon path.bezier {
  fill: none;
  stroke: white;
  stroke-width: 35;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine svg.icon circle {
  fill: yellow;
  stroke: black;
  stroke-width: 5;
}
#bezier #mainWindow #mainRightWindow #mainRightBottomFrame .mainRightBottomOneLine .progressorDiv {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  margin: 10px 25px;
  position: relative;
}
#bezier #mainWindow #mainRightWindow .toAnimate, #bezier #mainWindow #mainRightWindow .linearAnimation {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  box-sizing: border-box;
  background-color: red;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
#bezier #mainWindow #mainRightWindow .toAnimate {
  border-right: 1px solid black;
}
#bezier #mainWindow #mainRightWindow .linearAnimation {
  border-right: 5px solid black;
  background-color: transparent;
  z-index: 1;
}
#bezier #mainWindow #mainRightWindow .linearAnimation {
  background-color: transparent !important;
}
#bezier #mainWindow #mainRightWindow .onAnimation {
  -webkit-animation-name: onAnimation;
          animation-name: onAnimation;
}
@-webkit-keyframes onAnimation {
  from {
    right: 100%;
  }
  75%, to {
    right: 0;
  }
}
@keyframes onAnimation {
  from {
    right: 100%;
  }
  75%, to {
    right: 0;
  }
}
#bezier #mainWindow #mainRightWindow #mainRightButton {
  background-color: #00BFFF;
}
#bezier #mainWindow .buttonBox {
  height: 50px;
}
#bezier #mainWindow .buttonBox .button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100px;
  top: 0;
  left: 0;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 1px black solid;
}
#bezier #mainWindow .buttonBox .button:hover {
  top: 1px;
  left: 3px;
  box-shadow: none;
}
#bezier #mainWindow .settingTable {
  border-collapse: collapse;
  margin: 50px auto 25px auto;
}
#bezier #mainWindow .settingTable td {
  padding: 3px 10px;
}
#bezier #subWindow #templateWindow {
  margin: 30px auto;
  padding: 0 15px;
  border: 3px fuchsia solid;
  border-radius: 25px;
  box-sizing: border-box;
  width: 1000px;
  height: 100px;
  overflow-x: hidden;
  background-color: pink;
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
}
#bezier #subWindow #templateWindow .explanationBox {
  position: relative;
  margin: auto 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
#bezier #subWindow #templateWindow .explanationBox svg {
  width: 80px;
  height: 80px;
  border: 1px black solid;
  position: absolute;
  box-sizing: border-box;
  background-color: #FFFFCC;
}
#bezier #subWindow #templateWindow .explanationBox svg path {
  fill: transparent;
  stroke: black;
  stroke-width: 7;
}
#bezier #subWindow #templateWindow .explanationBox .text {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  border: 1px black solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1px 8px;
  white-space: nowrap;
}
#bezier #subWindow #logWindow {
  margin: 30px auto;
  padding: 10px;
  border: 1px black solid;
  box-sizing: border-box;
  width: 1000px;
  height: 300px;
  overflow-y: scroll;
  background-color: black;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
#bezier #subWindow #logWindow svg {
  width: 50px;
  height: 50px;
  background-color: black;
  display: block;
  margin: 10px;
  border: 1px white solid;
  box-sizing: border-box;
  cursor: pointer;
}
#bezier #subWindow #logWindow svg:hover {
  background-color: white;
  border: 1px black solid;
}
#bezier #subWindow #logWindow svg:hover path {
  stroke: black;
}
#bezier #subWindow #logWindow svg:hover circle {
  fill: white;
  stroke: black;
}
#bezier #subWindow #logWindow path {
  fill: transparent;
  stroke: white;
  stroke-width: 30;
}
#bezier #subWindow #logWindow svg circle {
  fill: black;
  stroke: white;
  stroke-width: 10;
}
#bezier #subWindow #logWindow::-webkit-scrollbar, #bezier #subWindow #templateWindow::-webkit-scrollbar {
  display: none;
}
#bezier #subWindow #logWindow, #bezier #subWindow #templateWindow {
  scrollbar-width: none;
}

@media screen and (max-width: 1199px) {
  #v3-width_judge {
    display: none;
  }
}
#v3-add-del {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  overflow: hidden;
}

#v3-svg_sh polyline {
  fill: transparent;
  stroke-width: 1;
}

#v3-svg_sh polyline:nth-of-type(1) {
  stroke: green;
}

#v3-svg_sh polyline:nth-of-type(2) {
  stroke: blue;
}

#v3-svg_sh polyline:nth-of-type(3) {
  stroke: red;
  stroke-width: 3 !important;
  mix-blend-mode: normal;
}

#v3-svg_tx {
  cursor: pointer;
}