@charset "utf8";

@import "../00.scss";

#sudokuSolver {
	$ITEM_COUNT: 9;
	#sudokuBox {
		display: grid;
		grid-template-columns: repeat($ITEM_COUNT, 1fr);
		grid-template-rows: repeat($ITEM_COUNT, 1fr);
		gap: 0;
		width: 100%;
		max-width: 450px;
		margin: 50px auto;
		border: 1px black solid;
		overflow: hidden;
		aspect-ratio: 1 / 1;
		input {
			border: 1px lightgray solid;
			width: 100%;
			display: block;
			text-align: center;
			font-size: 20px;
			font-family: "consolas";
			box-sizing: border-box;
			-moz-appearance: textfield;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&:nth-of-type(3n) {
				border-right: 1px black solid;
			}
			&:nth-of-type(9n) {
				border-right: 1px lightgray solid;
			}
			&:nth-of-type(n+28):nth-of-type(-n+36),
			&:nth-of-type(n+55):nth-of-type(-n+63) {
				border-top: 1px black solid;
			}
			&:focus {
				background-color: lightgoldenrodyellow;
			}
			&.warning {
				color: white;
				background-color: lightcoral;
			}
		}
	}
	#button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 35px;
		margin: 50px auto;
		background-color: lightblue;
		border: 1px black solid;
		box-shadow: 2px 2px lightgray;
		cursor: pointer;
		&:hover {
			top: 2px;
			left: 2px;
			color: white;
			background-color: blue;
			box-shadow: none;
		}
		&.invalid {
			color: white;
			background-color: gray;
			box-shadow: none;
			top: 2px;
			left: 2px;
			cursor: not-allowed;
		}
	}
	#resultContainer {
		margin: 50px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.sudokuContainer {
			width: 100%;
			@include sb {
				max-width: 150px;
			}
			max-width: 200px;
			margin: 5px;
			&.zoomed {
				position: fixed;
				display: flex;
				justify-content: center;
				align-items: center;
				inset: 0;
				width: 100%;
				height: 100%;
				max-width: 100%;
				margin: 0;
				background-color: rgba(black, 0.9);
				.sudokuBox {
					width: 90%;
					max-width: 500px;
					max-height: 500px;
					background-color: white;
					aspect-ratio: 1 / 1;
					font-size: 20px;
					div {
						aspect-ratio: 1 / 1;
					}
				}
			}
			.sudokuBox {
				display: grid;
				grid-template-columns: repeat($ITEM_COUNT, 1fr);
				grid-template-rows: repeat($ITEM_COUNT, 1fr);
				gap: 0;
				overflow: hidden;
				aspect-ratio: 1 / 1;
				div {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 12px;
					font-family: "consolas";
					box-sizing: border-box;
					-moz-appearance: textfield;
					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}
			}
			$colorThemes: [purple lightpink], [red orange], [blue skyblue], [green lime];
			$colorThemesCount: length($colorThemes);
			$i: 0;
			@each $colorTheme in $colorThemes {
				&:nth-of-type(#{$colorThemesCount}n+#{$i}) {
					$outsideBorder: nth($colorTheme, 1);
					$insideBorder: nth($colorTheme, 2);
					border: 1px #{$outsideBorder} solid;
					div {
						border: none;
						&:nth-of-type(3n) {
							border-right: 1px #{$insideBorder} solid;
						}
						&:nth-of-type(9n) {
							border-right: none !important;
						}
						&:nth-of-type(n+28):nth-of-type(-n+36),
						&:nth-of-type(n+55):nth-of-type(-n+63) {
							border-top: 1px #{$insideBorder} solid;
						}
						cursor: pointer;
						&.original {
							background-color: lightgoldenrodyellow;
						}
					}
					&.zoomed {
						border: none;
						div {
							border: 1px rgba(lightgray, 0.5) solid;
							&:nth-of-type(3n) {
								border-right: 1px #{$outsideBorder} solid !important;
							}
							&:nth-of-type(n+28):nth-of-type(-n+36),
							&:nth-of-type(n+55):nth-of-type(-n+63) {
								border-top: 1px #{$outsideBorder} solid !important;
							}
						}
					}
				}
				$i: $i+1;
			}
		}
		.memoryProtecterAlert {
			margin: 50px auto;
			border: 1px black solid;
			width: 100%;
    		padding: 25px;
			.restart {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 150px;
				height: 35px;
				border: 1px black solid;
				margin-top: 25px;
				cursor: pointer;
				&:hover {
					background-color: yellow;
				}
			}
		}
	}
}


