@charset "utf-8";

@import "../00.scss";

* {
	margin: 0;
	padding: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	@include sb {
		height: 50px;
	}
	height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px lightgrey solid;
	background-color: rgba(white, 0.9);
	z-index: 100;
	img {
		cursor: pointer;
		height: 100%;
	}
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    #header-right-div {
        position: absolute;
        top: 5px;
		right: 5px;
		bottom: 5px;
		display: flex;
		flex-direction: row-reverse;
		img {
			margin-right: 5px;
			&:hover {
				opacity: 0.7;
			}
		}
    }
}

main {
	@include sb {
		margin-top: 60px;
	}
	margin-top: 70px;
	padding: 15px;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#NotFoundSVG {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

footer {
	margin: 25px 0;
	width: 100%;
	height: 50px;
	background-color: lightgoldenrodyellow;
	background-image: url(?00/90.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
