@charset "UTF-8";
#mypageEntireWapper #yourProfile {
  position: relative;
  padding: 10px;
  border: 1px lightgray solid;
  max-width: 500px;
  margin: 0 auto;
}
#mypageEntireWapper #yourProfile #userIcon {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px lightgray solid;
  margin: 25px auto 10px auto;
  cursor: pointer;
  transition: 1s all;
}
#mypageEntireWapper #yourProfile #userIcon:hover {
  transform: scale(1.02, 1.02);
  border: 1px blue solid;
}
#mypageEntireWapper #yourProfile #userId {
  width: 200px;
  box-sizing: border-box;
  font-size: 10px;
  margin: 10px auto;
  background-color: rgba(211, 211, 211, 0.5);
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
#mypageEntireWapper #yourProfile #userName {
  display: block;
  width: 200px;
  box-sizing: border-box;
  height: 50px;
  border: none;
  text-align: center;
  line-height: 50px;
  overflow-x: hidden;
  background-color: lime;
  margin: 10px auto;
  padding: 10px;
}
#mypageEntireWapper #yourProfile #editProfile {
  position: absolute;
  font-size: 12px;
  color: blue;
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue;
  right: 10px;
  bottom: 3px;
  cursor: pointer;
}
#mypageEntireWapper .title {
  font-size: 20px;
  font-weight: bold;
  border-left: 5px red solid;
  padding-left: 10px;
  margin-top: 50px;
}
#mypageEntireWapper #yourScheduleBox {
  position: relative;
}
#mypageEntireWapper #yourScheduleBox #scheduleLoadingBox {
  display: hidden;
  position: absolute;
  /* thank you https://projects.lukehaas.me/css-loaders/ */
}
#mypageEntireWapper #yourScheduleBox #scheduleLoadingBox.loading {
  display: block;
  inset: 0;
  color: blue;
  font-size: 30px;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: load 1s infinite linear;
          animation: load 1s infinite linear;
  transform: translateZ(0);
  z-index: 999;
}
@-webkit-keyframes load {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
#mypageEntireWapper #yourScheduleBox #scheduleTable {
  height: 300px;
  margin: 25px 0;
  border: 1px gray solid;
  overflow-y: auto;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer {
  display: grid;
  margin-bottom: 25px;
  font-size: 13px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 50px 100px 50px;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer:nth-of-type(2n) div {
  background-color: aliceblue;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer:nth-of-type(2n+1) div {
  background-color: lightyellow;
}
@media screen and (min-width: 1001px) {
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer div {
  padding: 20px 5px 5px 35px;
  border: 1px lightgray solid;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer div {
  position: relative;
  box-sizing: border-box;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer div::before {
  position: absolute;
  display: inline-block;
  font-size: 8px;
  top: -1px;
  left: -1px;
  padding: 1px 7px;
  color: white;
  background-color: black;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_ScheduleId {
  grid-column: 2/3;
  grid-row: 1/2;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_ScheduleId:before {
  content: "ID";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Title {
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/2;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Title:before {
  font-weight: normal;
  content: "タイトル";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Importance {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Importance.A {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Importance.B {
  color: blue;
  font-size: 18px;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Importance.C {
  font-size: 16px;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Importance:before {
  content: "重要度";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Due {
  grid-column: 2/3;
  grid-row: 2/3;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Due:before {
  content: "締切";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Description {
  grid-column: 1/3;
  grid-row: 3/4;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Description:before {
  content: "説明";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Rgdt {
  grid-column: 1/2;
  grid-row: 4/5;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Rgdt:before {
  content: "登録日";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Updt {
  grid-column: 2/3;
  grid-row: 4/5;
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Updt:before {
  content: "更新日";
}
#mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Rgdt, #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Updt {
  font-size: 12px;
}
@media screen and (min-width: 1001px) {
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer {
    grid-template-columns: 120px 220px 450px 150px;
    grid-template-rows: 50px 50px;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer div {
    position: relative;
    box-sizing: border-box;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer div:before {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    top: -1px;
    left: -1px;
    padding: 1px 7px;
    color: white;
    background-color: black;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_ScheduleId {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Title {
    font-weight: bold;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Importance {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Due {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Description {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Rgdt {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Updt {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Rgdt, #mypageEntireWapper #yourScheduleBox #scheduleTable .scheduleContainer .scheduleElement_Updt {
    font-size: 12px;
  }
}
#mypageEntireWapper #editProfileBox {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}
#mypageEntireWapper #editProfileBox .menuBox {
  display: block;
  border: 1px grey solid;
  max-width: 350px;
  color: black;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 300px;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  #mypageEntireWapper #editProfileBox .menuBox {
    width: 100%;
  }
}
#mypageEntireWapper #editProfileBox .menuBox:hover {
  background-color: rgba(135, 206, 250, 0.3);
}
#mypageEntireWapper #editProfileBox .menuBox .menuTitle {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px lightgray dashed;
}
#mypageEntireWapper #editProfileBox .menuBox .menuContents {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  padding: 10px;
}