.firefox {
  background-image: url(/?S00/0010/firefox.png);
}

#eventlistenerExample {
  margin: 30px 0;
  padding: 25px;
  border: 1px solid black;
}
#eventlistenerExample #eventlistenerExampleUl {
  margin: 25px 0;
  border: none;
}

#attributeExampleDiv {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid black;
}

#parent {
  display: flex;
  flex-wrap: wrap;
}
#parent div {
  padding: 2px 10px;
  margin: 10px;
  border: 1px solid black;
}

#incodeTimerDiv {
  margin: 30px 0;
}
#incodeTimerDiv #incodeTimerClockBody {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
}
#incodeTimerDiv #incodeTimerClockBody #incodeTimerClockLine {
  position: absolute;
  height: 150px;
  width: 3px;
  background-color: black;
  left: calc(50% - 3px);
  bottom: 50%;
  transform-origin: bottom center;
  transform: rotate(0);
}