.to-mysql {
  background-image: url(/static/img/S00/0199/mysql-logo.png);
}

.db thead th, .db thead td {
  background-color: lightgray !important;
}

table td.transIsolationLevel_SAFE {
  background-color: rgba(0, 0, 255, 0.3);
}
table td.transIsolationLevel_DANGEROUS {
  background-color: rgba(255, 0, 0, 0.3);
}