@charset "utf8";

$num: "";
@for $i from 0 through 9999 {
	@if $i < 10 {
		$num: "000#{$i}";
	} @else if $i < 100 {
		$num: "00#{$i}";
	} @else if $i < 1000 {
		$num: "0#{$i}";
	} @else {
		$num: "#{$i}";
	}
	.to#{$num} {
		background-image: url(/?S/#{$num}.png);
	}
}
