@charset "utf8";

.pythonLogo {
	background-image: url(/?S00/0103/pythonLogo.png);
}

.FastAPILogo {
	background-image: url(/?S00/0103/FastAPILogo.png);
}

.uvicornLogo {
	background-image: url(/?S00/0103/uvicornLogo.png);
}

