@charset "utf8";

a.link.visualstudio {
	background-image: url("/?S0251/visualstudio.png");
}
a.link.SQLServer {
	background-image: url("/?S0251/SQLServer.png");
}
a.link.SSMS {
	background-image: url("/?S0251/SSMS.png");
}

