@charset "utf8";

@import "../00.scss";

// ---> S/01.js

#subjectMenuBox.active {
	position: fixed;
	background-color: black;
	z-index: 10;
	&.withTransition {
		transition: all 0.2s;
	}
	@include sb {
		font-size: 12px;
	}
	@include tb {
		font-size: 13px;
	}
	@include fb {
		font-size: 14px;
	}
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 30px;
	overflow-y: auto;
	$menuHeight: 150;
	&.open {
		width: 100%;
		height: #{$menuHeight}px;
		padding: 25px;
		box-sizing: border-box;
	}
	.subjectMenuSubBox {
		position: absolute;
		inset: 0;
	}
	.close {
		position: fixed;
		right: 0;
		bottom: #{$menuHeight - 15}px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: red;
		z-index: 101;
		cursor: pointer;
		&::before {
			content: "×";
			color: white;
			font-weight: bold;
			font-size: 25px;
		}
	}
	.subjectMenuMainBox {
		display: grid;
		@include sb {
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: auto;
		}
		@include tb {
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: auto;
		}
		@include fb {
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: auto;
		}
		.subjectsMenuComponents {
			display: inline-block;
			color: white;
			text-decoration: none;
			text-overflow: ellipsis;
			margin-right: 10px;
			margin-bottom: 5px;
			margin-left: 1.5rem;
			text-indent: -1.5rem;
			position: relative;
			z-index: 50;
			cursor: pointer;
			&.this {
				color: yellow;
				text-decoration: underline;
				text-decoration-color: yellow;
				pointer-events: none;
			}
			&:hover {
				text-decoration: underline;
			}
			&::before {
				content: "♠";
				margin-right: 5px;
			}
		}
	}
	&:not(.open) {
		cursor: pointer;
		&::before {
			content: "Menu";
			position: absolute;
			color: white;
			inset: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	&:not(.transitionFinished) {
		* {
			display: none;
		}
	}
}
#subjectMenuBox {
	scrollbar-width: 0;
	&::-webkit-scrollbar {
		display: none;
	}
	&:not(.active) {
		display: none;
	}
}

