#noteBox #noteArea {
  position: fixed;
  right: 0;
  bottom: 150px;
  width: 400px;
  height: 500px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  z-index: 10;
}
@media screen and (min-width: 1001px) {
  #noteBox #noteArea {
    bottom: 200px;
  }
}
#noteBox #noteUpdateButton {
  position: fixed;
  right: 70px;
  bottom: 70px;
  padding: 5px 10px;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (min-width: 1001px) {
  #noteBox #noteUpdateButton {
    bottom: 120px;
  }
}
#noteBox #noteButton {
  position: fixed;
  right: 0;
  bottom: 70px;
  padding: 5px 10px;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (min-width: 1001px) {
  #noteBox #noteButton {
    bottom: 120px;
  }
}