.gg-notes {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 22px;
  border: 2px solid;
  border-radius: 3px;
}
.gg-notes::before, .gg-notes::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  height: 2px;
  background: currentColor;
  left: 2px;
}
.gg-notes::before {
  box-shadow: 0 4px 0, 0 8px 0;
  width: 12px;
  top: 2px;
}
.gg-notes::after ::after {
  width: 6px;
  top: 14px;
}

#noteBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  right: 0;
  bottom: 90px;
  z-index: 1;
}
@media screen and (min-width: 1001px) {
  #noteBox {
    bottom: 115px;
  }
}
#noteBox #noteArea {
  visibility: hidden;
  width: 400px;
  height: 500px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}
@media screen and (max-width: 500px) {
  #noteBox #noteArea {
    width: 300px;
    height: 200px;
  }
}
#noteBox #noteSaveButton {
  visibility: hidden;
  padding: 0px 6px;
  cursor: pointer;
}
#noteBox #notePreviewButton {
  margin-top: 5px;
  padding: 5px 5px;
  cursor: pointer;
}
@media screen and (min-width: 1001px) {
  #noteBox #notePreviewButton {
    padding: 12px 45px;
  }
}

#noteBox .gg-notes {
  background: #fff;
  --ggs: 2.0;
}
#noteBox .gg-spinner, #noteBox .gg-circle, #noteBox .gg-circle-red, #noteBox .gg-circle-green {
  transform: scale(var(--ggs, 1));
}
#noteBox .gg-spinner, #noteBox .gg-circle, #noteBox .gg-circle-red, #noteBox .gg-circle-green,
#noteBox .gg-spinner::after,
#noteBox .gg-circle::after,
#noteBox .gg-circle-red::after,
#noteBox .gg-circle-green::after,
#noteBox .gg-spinner::before,
#noteBox .gg-circle::before,
#noteBox .gg-circle-red::before,
#noteBox .gg-circle-green::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}
#noteBox .gg-spinner::after, #noteBox .gg-circle::after, #noteBox .gg-circle-red::after, #noteBox .gg-circle-green::after,
#noteBox .gg-spinner::before,
#noteBox .gg-circle::before,
#noteBox .gg-circle-red::before,
#noteBox .gg-circle-green::before {
  content: "";
  position: absolute;
  border-radius: 100px;
}
#noteBox .gg-spinner::before, #noteBox .gg-circle::before, #noteBox .gg-circle-red::before, #noteBox .gg-circle-green::before {
  -webkit-animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
          animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  border: 3px solid transparent;
  border-top-color: currentColor;
}
#noteBox .gg-spinner::after, #noteBox .gg-circle::after, #noteBox .gg-circle-red::after, #noteBox .gg-circle-green::after {
  border: 3px solid;
  opacity: 0.2;
  background: #000;
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#noteBox .gg-spinner, #noteBox .gg-circle, #noteBox .gg-circle-red, #noteBox .gg-circle-green {
  --ggs: 0.65;
}
#noteBox .gg-circle:before, #noteBox .gg-circle-red:before, #noteBox .gg-circle-green:before {
  content: none;
}
#noteBox .gg-circle:after, #noteBox .gg-circle-red:after, #noteBox .gg-circle-green:after {
  opacity: 1;
}
#noteBox .gg-circle-green:after {
  color: #03AF7A;
  background: #03AF7A;
}
#noteBox .gg-circle-red:after {
  color: #FF4B00;
  background: #FF4B00;
}